# Run 'vsce ls' to verify that the following lines exclude everything not needed in the VSIX.

**
!dist/*.js
!dist/*.txt
!snippets/*.json
!images/*.svg
!images/*.png
!syntaxes/*.json
!webview/*.js
!CHANGELOG.md
!LICENSE
!README.md
!package.json
!package.nls.json
!language-configuration.json
!*.jsonc
